body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:707px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1693px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1693px;
}
#u114 {
  position:absolute;
  left:2px;
  top:838px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u116 {
  position:absolute;
  left:375px;
  top:20px;
  width:30px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u118 {
  position:absolute;
  left:407px;
  top:24px;
  width:300px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
