body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:729px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u180 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:42px;
  height:40px;
}
#u182 {
  position:absolute;
  left:375px;
  top:34px;
  width:32px;
  height:30px;
}
#u183 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u184 {
  position:absolute;
  left:409px;
  top:38px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u186 {
  position:absolute;
  left:375px;
  top:123px;
  width:153px;
  height:21px;
  font-size:16px;
  color:#FF0000;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
