body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:708px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u565 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u566 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u568 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:82px;
}
#u569 {
  position:absolute;
  left:328px;
  top:576px;
  width:40px;
  height:82px;
}
#u570 {
  position:absolute;
  left:2px;
  top:33px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571 {
  position:absolute;
  left:328px;
  top:576px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u572 {
  position:absolute;
  left:328px;
  top:616px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u573 {
  position:absolute;
  left:375px;
  top:10px;
  width:169px;
  height:21px;
  font-size:16px;
  color:#FF0000;
}
#u574 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u576_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u576 {
  position:absolute;
  left:375px;
  top:79px;
  width:30px;
  height:30px;
}
#u577 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u578 {
  position:absolute;
  left:407px;
  top:83px;
  width:300px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u579 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u580 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u581_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u581 {
  position:absolute;
  left:375px;
  top:178px;
  width:30px;
  height:30px;
}
#u582 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u583 {
  position:absolute;
  left:407px;
  top:182px;
  width:300px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u584 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u586_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u586 {
  position:absolute;
  left:376px;
  top:266px;
  width:30px;
  height:30px;
}
#u587 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u588 {
  position:absolute;
  left:408px;
  top:270px;
  width:300px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u589 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u590 {
  position:absolute;
  left:6px;
  top:26px;
  width:47px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u591 {
  position:absolute;
  left:43px;
  top:325px;
  width:297px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u592 {
  position:absolute;
  left:375px;
  top:453px;
  width:169px;
  height:40px;
}
#u593 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:74px;
}
#u594 {
  position:absolute;
  left:14px;
  top:444px;
  width:343px;
  height:74px;
}
#u595 {
  position:absolute;
  left:2px;
  top:29px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u596 {
  position:absolute;
  left:14px;
  top:454px;
  width:352px;
  height:85px;
  font-size:12px;
}
#u597 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
